.cart {
  min-height: 85vh;
}

@media (max-width: 780px) {
  .cart {
    padding: 0 0.75rem;
  }

  .cart__item {
    display: block;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
  }

  .item__left {
    margin-bottom: 1rem;
  }
}
